@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-luna-white text-luna-black font-body overscroll-none;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display text-luna-black;
  }
}

@layer utilities {
  .text-gradient-gold {
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .bg-gradient-gold {
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  }
}
