@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html, body {
    overscroll-behavior-y: contain;
  }
  body {
    background-color: theme('colors.gray.100');
    color: theme('colors.luna.black');
    font-family: theme('fontFamily.body');
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  .dark body {
    background-color: #070707;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.display');
    color: theme('colors.luna.black');
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for Firefox */
  * {
    scrollbar-width: none;
  }
}

@layer utilities {
  .text-gradient-gold {
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .bg-gradient-gold {
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  }
}
